<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js" integrity="sha512-oFOCo2/3DtjrJG4N27BjSLQWoiBv171sK6a+JiWjp/7agxC2nCUP358AqzxkBUb5jX8g6CYLPdSKQTbC0weCwA==" crossorigin="anonymous"></script>

	<script src="/js/libs/simplepeer.min.js"></script>
    <script src="/js/menus/arenaMenu.js"></script>
</head>
<body>
    <button onclick="createRoom()">CREATE GAME</button><br>
    <button onclick="joinRoom()">JOIN GAME</button><br>
</body>
</html>